.home-hero {
	@include flex-center;
	video {
		width: 100%;
		height: 320px;
		object-fit: cover;
		position: relative;
		@include bp-med {
			height: 620px;
		}
	}
	section {
		@include flex-center;
		position: absolute;
		flex-direction: column;
		padding: $standard-spacing;
		h1 {
			@include flex-center;
			color: white;
			font-size: 2rem;
			padding: 40px;
			text-align: center;
		}
		a {
			padding: 40px;
			button {
				@include button;
			}
		}
	}
}

.our-story {
	@include flex-center;
	flex-direction: column;
	background-color: $primary-bkg-color;
	width: 100%;
	padding: 30px;
	@include bp-med {
		flex-direction: row;
		padding: 0px;
	}
	img {
		display: none;
		@include bp-med {
			@include flex-center;
			max-width: 400px;
			object-fit: cover;
		}
	}
	.our-copy {
		@include flex-center;
		flex-direction: column;
		flex-grow: 1;
		h2 {
			font-size: 3rem;
			padding: 0px;
			@include bp-med {
				font-size: 1.7rem;
				padding: 20px;
			}
		}
		p {
			padding: $standard-spacing;
			font-size: 1.3rem;
			max-width: 600px;
			@include bp-med {
				padding: 13px;
				font-size: 0.9rem;
			}
		}
	}
}
// ------------------------------ //
.menu-hero {
	@include flex-center;
	h1 {
		position: absolute;
		color: white;
		z-index: 1;
		@include bp-med {
			padding-top: 110px;
		}
	}
	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		position: relative;
	}
}

.coffee-menu-container {
	@include flex-center;
	flex-direction: column;
	background-color: $primary-bkg-color;
	@include bp-large {
		flex-direction: row;
	}
	.coffee-menu {
		@include flex-center;
		flex-direction: column;
		padding: 40px;
		flex-grow: 1;
		@include bp-med {
			flex-direction: row;
			width: 100%;
		}
		@include bp-large {
			flex-direction: column;
		}
		img {
			width: 100%;
			max-width: 320px;
		}
		.menu-item-container {
			width: 100%;
			max-width: 600px;
			@include bp-med {
				padding-top: 0px;
				padding-left: 30px;
				height: 320px;
			}
			@include bp-large {
				padding-left: 0px;
				padding-top: 30px;
				max-width: 320px;
			}
			h2 {
				@include flex-center;
				padding: 30px 30px 30px 30px;
				@include bp-med {
					padding: 0px 30px 30px 30px;
				}
			}
			ul {
				li {
					display: flex;
					justify-content: space-between;
					font-size: 1.5rem;
					padding-bottom: $standard-spacing;
					@include bp-med {
						font-size: 1.3rem;
						line-height: 1em;
						span {
							padding-right: 35px;
							@include bp-large {
								padding-right: 0px;
							}
						}
					}
				}
			}
		}
	}
	// .coffee-menu:last-child {
	// 	margin-bottom: 35px;
	// }
}
// ------------------------------ //

.store-hero {
	@include flex-center;
	flex-direction: column;
	@include bp-med {
		align-items: flex-end;
	}

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		object-position: 50% 25%;
		position: relative;
	}
	section {
		@include flex-center;
		flex-direction: column;
		position: absolute;
		@include bp-med {
			flex-direction: row;
			padding-top: 115px;
			justify-content: space-between;
			width: 100%;
		}
		@include bp-large {
			justify-content: flex-end;
		}
		h1 {
			color: white;
			font-size: 2.5em;
			padding: 50px;
			@include bp-med {
				padding-left: 90px;
			}
			@include bp-large {
				text-align: center;
			}
		}
		a {
			padding: 30px;
			@include bp-med {
				padding: 30px 30px 30px 40px;
			}

			button {
				@include flex-center;
				justify-content: space-around;
				@include button;
			}
		}
	}
}

.purchase-info {
	@include flex-center;
	flex-direction: column;
	background-color: $primary-bkg-color;
	@include bp-large {
		flex-direction: row;
	}
	.info {
		@include flex-center;
		flex-direction: column;
		padding: 40px;
		flex-grow: 1;
		@include bp-med {
			flex-direction: row;
			width: 100%;
		}
		@include bp-large {
			flex-direction: column;
			padding: 40px;
		}
		img {
			width: 100%;
			max-width: 320px;
		}
		.coffee-info {
			@include flex-center;
			flex-direction: column;
			padding-top: 20px;
			width: 100%;
			@include bp-med {
				max-width: 600px;
				height: 320px;
				padding: 0px 30px 30px 30px;
				justify-content: end;
			}
			@include bp-large {
				padding: 20px 0px 0px 0px;
				max-width: 320px;
			}

			.name-container {
				@include flex-center;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				padding-top: 15px;

				.name {
					display: flex;
					flex-direction: column;
					h2 {
						font-size: 1.5rem;
						padding-bottom: 10px;
					}
					span {
						font-size: 1.4rem;
					}
				}
			}
			.buy {
				@include flex-center;
				width: 100%;
				display: flex;
				justify-content: space-between;
				span {
					font-size: 1.5rem;
					padding-top: $standard-spacing;
					padding-bottom: $standard-spacing;
				}
				button {
					@include button;
					width: 135px;
					height: 35px;
					font-size: 1rem;
				}
			}
		}
	}
}
// ------------------------------ //
