.content {
	.thumbnail {
		max-width: 300px;
		max-height: 300px;
	}
}

.lightbox-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	background-repeat: repeat;
	width: 100vw;
	height: 100vh;
}

.lightbox {
	// @include flex-center;
	display: flex;
	align-items: center;
	// justify-content: space-between;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $primary-bkg-color;
	width: 450px;
	height: 350px;
	@include bp-med {
		width: 575px;
		height: 475px;
	}

	.yourCart {
		@include flex-center;
		// padding-bottom: 20px;

		width: 100%;
		@include bp-med {
			// padding-bottom: 50px;
		}
		h1 {
			font-size: 2rem;
			padding-top: 50px;
		}
		.lightbox-close {
			width: 48px;
			height: 48px;
			position: absolute;
			transform: translate(380%, 0%);
			@include bp-med {
				transform: translate(450%, 50%);
			}
		}
	}
	.itemContainer {
		@include flex-center;
		width: 80%;
		flex-direction: column;
		border-bottom: solid black 2px;
		.cartItem {
			@include flex-center;
			justify-content: space-between;
			flex-direction: row;
			width: 100%;
			max-width: 575px;
			padding: 25px 0px;
			@include bp-med {
				padding: 35px 30px;
			}
			span {
				font-size: 1.5rem;
			}
			input {
				width: 70px;
				height: 35px;
				background-color: white;
				border: black solid 1px;
				border-radius: 5px;
				position: absolute;
				transform: translate(350%, 0%);
			}
		}
	}
	.totalContainer {
		@include flex-center;
		justify-content: space-between;
		width: 80%;

		font-size: 1.5rem;
		padding: 15px 0px;
		@include bp-med {
			padding: 35px 30px;
		}
	}
	.checkOutButton {
		@include button;
	}
}
