// Colors

$primary-bkg-color: #e7d3c4;

$secondary-color: #262626;

$link-color: #ffffff;

$button-color: #dd5800;
$button-border-color: rgba(164, 76, 28, 1);

$border-color: #472716;

$standard-spacing: 20px;

// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Mixins

@mixin flex-center {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

@mixin button {
	height: 50px;
	width: 200px;
	background-color: $button-color;
	border: 2px solid $button-border-color;
	border-radius: 10px;
	font-size: 1.3em;
	color: white;
	font-family: 'Montserrat', serif;
}

@mixin bp-small {
	@media screen and (min-width: $breakpoint-mobile) {
		@content;
	}
}

@mixin bp-med {
	@media screen and (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin bp-large {
	@media screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}
