// Colors

$primary-bkg-color: #e7d3c4;

$secondary-color: #262626;

$link-color: #ffffff;

$button-color: #dd5800;

$border-color: #472716;

// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Mixins
@mixin bounds {
	border: 1px solid red;
	background: rgba(255, 0, 0, 0.2);
}

@mixin flex-center {
	display: flex;
	align-content: center;
	justify-content: center;
}

@mixin bp-small {
	@media screen and (min-width: $breakpoint-mobile) {
		@content;
	}
}

@mixin bp-med {
	@media screen and (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin bp-large {
	@media screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}
